# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archived files
*.zip
*.rar

# Another
.vscode
.idea
*.bat
*.smx

# Private stage
/modules/ccp-mimic/*
/modules/ccp-chat-ext/*
/modules/ccp-chat-flood/*
/modules/ccp-web-chat/*
/modules/ccp-vipchat-sql/*
/modules/ccp-lr-chat/*

#hidden-includes
/include/lvl_ranks.inc