# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archived files
*.zip
*.rar

# Another
.vscode
.idea
*.bat
*.smx

# Private stage
/src/ccp-mimic/
/src/ccp-chat-ext/
/src/ccp-chat-flood/
/src/ccp-web-chat/
/src/ccp-vipchat-sql/
/src/ccp-lr-chat/
/src/ccp-hint/
/src/distant-chat/
/modules/*

#hidden-includes
/include/vip_core.inc
